{% extends 'base.html' %}

{% block title %}
my invites
{% endblock title %}

{% block content %}

{% if is_empty %}
<h1>No invatations here..</h1>
{% endif %}

<ul>
    {% for item in qs %}
    <li>{{item}} </li>
    {% endfor%}
</ul>

{% endblock content %}