{% extends 'base.html' %}

{% block title %}
my profile
{% endblock title %}

{% block content %}

<!-- MODAL -->
<div class="ui modal mymodal">
    <i class="close icon"></i>
    <div class="header">
        Update your Profile
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="{{profile.avatar.url}}">
        </div>
        <div class="description">
            <div class="ui header">Provide some additional/newest info about you </div>
            <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
                {% csrf_token %}
                {{form.as_p}}
        </div>
    </div>
    <div class="actions">
        <button type='submit' class="ui positive right labeled icon button">
            Update
            <i class="checkmark icon"></i>
        </button>
        </form>
    </div>
</div>



<div class="ui segment">
    {% if confirm %}
    <div class="ui green message">Your profile has been updated</div>
    {% endif %}
    <h3>my profile: {{request.user}}</h3>
    <div class="ui grid">
        <div class='row'>
            <div class='six wide column'>
                <img class="ui medium rounded image" src={{profile.avatar.url}}>
                <div class="row mt-5">
                    <button class='ui secondary button' id='modal-btn'>Update your profile</button>
                </div>
            </div>
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>{{profile.user}}</td>
                    </tr>
                    <tr>
                        <td>first name</td>
                        <td>{{profile.first_name}}</td>
                    </tr>
                    <tr>
                        <td>last name</td>
                        <td>{{profile.last_name}}</td>
                    </tr>
                    <tr>
                        <td>bio</td>
                        <td>{{profile.bio}}</td>
                    </tr>
                    <tr>
                        <td>number of friends</td>
                        <td>{{profile.get_friends_no}}</td>
                    </tr>
                    <tr>
                        <td>number of friends</td>
                        <td>
                            <ul>
                                {% for friend in profile.get_friends %}
                                <li>{{friend}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>number of posts</td>
                        <td>{{profile.get_posts_no}}</td>
                    </tr>
                    <tr>
                        <td>number of likes given</td>
                        <td>{{profile.get_likes_given_no}}</td>
                    </tr>
                    <tr>
                        <td>number of likes received</td>
                        <td>{{profile.get_likes_recieved_no}}</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}